<?xml version='1.0' encoding='utf-8'?>
<widget id="org.doodle.rubikDoodle" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DoodleRubik</name>
    <description>
        Uma homenagem ao rubik's doodle do dia 19/05/2014
    </description>
    <author email="3l70n.32@gmail.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="WebViewBounce" value="false" />
    <preference name="splashscreen" value="splash" />
    <preference name="splashScreenDelay" value="10000" />  
    <icon src="img/giphy.gif" />  
    <icon src="img/giphy.gif" platform="ios" width="57" height="57" density="mdpi" />
</widget>
